body{
background-color: Peacock;
}
h1{
color:sand;
text-align: center;
}
h2{
color:yellow;
text-align:center;
}
.Rajubhai{
Color:apple;
font-size:45px;
border-radius:12px;
background: cream;
align-item: center;
}
.Rajabhai{
color: apple;
border-radius:12px;
font-size:45px;
background: cream;
align-item:center;
}





