body{
background-color:pink;
}
h1{
color:green;
text-align: center;
}
.Rajubhai{
Color:Red;
font-size:45px;
border-radius:12px;
background:blue;
}
.Rajabhai{
color:orange;
border-radius:12px;
font-size:45px;
background:green;
}





