body{
background-color:Black;
align-item:center;
}
h1{
color: yellow;
text-align: center;
}
h3{
color:yellow;
text-align:center;
}
.Rajubhai{
Color:white;
font-size:45px;
border-radius:12px;
background:Red;
align-item:center;
}
.Rajabhai{
color:white;
border-radius:12px;
font-size:45px;
background:Red;
align-item:center;
}
img{
align-item:center;}





